@media (max-width: 768px) {

    body {
        font-size: 16px;
    }

    code {
        font-size: 14px;
    }

    .hljs {
        font-size: 14px;
    }

    .footer {
        font-size: 14px;
    }

    .heading {
        font-size: 16px;
    }

    .content {
        margin-right: 20px;
        margin-left: 20px;
        padding-bottom: 40px;
    }

    .section {
        padding: 5px;
        border-radius: 5px;
    }

    .section a:hover {
        color: white;
        border-radius: 5px;
        background-color: rgb(85, 57, 204);
    }

    .indent {
        text-indent: 25px;
    }

    .hub-text {
        font-size: 40px;
    }

    .nav-menu {
        gap: 15px 20px;
        padding: 8px 10px;
        font-size: 12px;
        flex-direction: column;
        align-items: center;
        right: 100%;
    }

    .nav-menu a {
        padding: 2px;
    }

    .da-box {
        margin-left: 10%;
        margin-right: 10%;
        padding: 25px;
        outline-width: 5px;
    }

    .menu-icon {
        display: block;
    }

    .intro-one {
        padding: 25px;
    }

    .intro-one-box {
        padding: 25px;
    }

    .intro-one-text {
        padding: 12px;
    }

    .intro-one-text p {
        font-size: 2em;
    }

    .intro-two1 {
        padding: 25px;
    }

    .intro-two-box {
        padding: 25px;
    }

    .intro-two-text {
        padding: 12px;
    }

    .intro-two-text p {
        font-size: 2em;
    }

    .on-this-page {
        display: none;
    }

    .on-this-page.open {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #abadff;
        z-index: 1;
        margin: 0;
        padding: 0;
    }

    .on-this-page li {
        padding: 12px 0;
        text-align: center;
        display: block;
    }

    .menu-icon {
        cursor: pointer;
        display: block;
        margin: 10px;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #000;
        margin: 5px 0;
    }

    .accordion {
        width: 93%;
        margin-left: 0;
    }

    .accordion .accordian-label {
        font-size: 16px;
    }

    .accordion .accordian-label::before {
        font-size: 18px;
    }

    .accordion .accordian-content {
        width: 100%;
        max-height: 0;
    }

    .accordion .container.active .accordian-content {
        max-height: 500px;
    }

    #my-button {
        right: 15px;
        bottom: 15px;
        font-size: 16px;
    }

    .tech-stack {
        padding: 5px;
    }

    .tech-stack span {
        padding: 2px;
        font-size: 14px;
    }

    .project-button {
        font-size: medium;
        padding: 4px;
    }

    .socials-container {
        text-align: center;
    }

    .socials {
        float: none;
        margin: 15px;
    }

    .socials i {
        font-size: 4rem;
    }

    .blog-button {
        font-size: small;
        padding: px;
    }

    .side-nav {
        float: none;
        width: 100%;
        text-align: center;
    }

    .side-nav li {
        padding: 12px 0;
    }

    .empty-space-for-phones {
        margin-bottom: 50px;
    }

    .command {
        margin: 10px;
        padding: 5px;
    }

    .sub-command {
        margin: 10px;
    }

    .name::before {
        display: none;
    }

    .alias::before {
        content: "Aliases:";
        padding: 2px;
        border-radius: 5px;
        background-color: white;
        margin-right: 8px;
    }

    .description::before {
        content: "Description:";
        padding: 2px;
        margin-right: 8px;
        border-radius: 5px;
        background-color: white;
    }

    .flags::before {
        content: "Flags Present:";
        padding: 2px;
        margin-right: 8px;
        border-radius: 5px;
        background-color: rgb(250, 184, 184);
    }

    .flags code {
        padding: 2px;
        border-radius: 5px;
        background-color: rgba(120, 146, 148, 0.651);
    }

    .cooldown::before{
        content: "Cooldown:";
        padding: 2px;
        background: #9dc4ff;
        margin-right: 8px;
        border-radius: 5px;
    }

    .concurrency::before {
        content: "Concurrency:";
        padding: 2px;
        background-color: #addaff;
        margin-right: 8px;
        border-radius: 5px;
    }

    .example::before {
        content: "Example:";
        padding: 2px;
        background: #ab8cff;
        margin-right: 5px;
        border-radius: 5px;
}

}

@media (max-width: 480px) {

    body {
        font-size: 12px;
    }

    code {
        font-size: 12px;
    }

    .hljs {
        font-size: 12px;
    }

    .footer {
        font-size: 12px;
    }

    .heading {
        font-size: 14px;
    }

    .content {
        margin-right: 10px;
        margin-left: 10px;
        padding-bottom: 20px;
    }

    .section {
        padding: 2px;
        border-radius: 2px;
    }

    .section a:hover {
        color: white;
        border-radius: 2px;
        background-color: rgb(85, 57, 204);
    }

    .indent {
        text-indent: 12px;
    }

    .hub-text {
        font-size: 40px;
    }

    .nav-menu {
        gap: 15px 20px;
        padding: 4px 6px;
        font-size: 10px;
    }

    .nav-menu a {
        padding: 1px;
    }

    .da-box {
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px;
        outline-width: 3px;
    }

    .menu-icon {
        left: 5px;
    }

    .intro-one {
        padding: 15px;
        border-radius: 5px;
    }

    .intro-one-box {
        padding: 15px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .intro-one-text {
        padding: 10px;
        text-align: center;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        font-size: 1em;
        border-radius: 5px;
    }

    .intro-two {
        padding: 15px;
        border-radius: 5px;
    }

    .intro-two-box {
        padding: 15px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .intro-two-text {
        padding: 10px;
        text-align: center;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        font-size: 1em;
        border-radius: 5px;
    }

    .on-this-page {
        width: 100%;
        margin-right: 0;
        border-radius: 0;
    }

    .on-this-page a {
        padding-right: 0;
    }

    .accordion .accordian-label {
        font-size: 14px;
    }

    .accordion .accordian-label::before {
        font-size: 16px;
    }

    .accordion .container.active .accordian-content {
        max-height: 400px;
    }

    #my-button {
        right: 10px;
        bottom: 10px;
        font-size: 14px;
    }

    .tech-stack {
        padding: 3px;
    }

    .tech-stack span {
        padding: 1px;
        font-size: 12px;
    }

    .project-button {
        font-size: small;
        padding: 3px;
    }

    .socials-container {
        padding: 10px;
    }

    .socials {
        margin: 10px;
    }

    .socials i {
        font-size: 3rem;
    }

    .blog-button {
        font-size: small;
        padding: 4px;
    }

    .side-nav a:hover {
        background-color: white;
    }

    .empty-space-for-phones {
            margin-bottom: 50px;
    }
}