@import url("https://kit.fontawesome.com/cafb2b3324.js");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap");

::selection {
    color: white;
    background-color: rgb(85, 57, 204);
}

/* Default tags */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "JetBrains Mono", monospace;
    background-size: cover;
    background-color: rgb(228, 218, 255);
}

code {
    font-family: "JetBrains Mono", monospace;
    border-radius: 5px;
    background-color: #cfc9d6;
}

code a:hover {
    text-decoration: underline;
}

.hljs {
    font-size: small;
    font-weight: 100;
    font-family: "JetBrains Mono", monospace;
}

/* Custom Scroll Bar*/
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #7CA6CD rgba(0, 0, 0, 0);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 9px;
    width: 9px;
}

*::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 10px solid rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #7CA6CD;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #4782BA;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #1764A3;
}

/* Footer */
.footer {
    left: 0;
    color: white;
    width: 100%;
    bottom: 0%;
    position: fixed;
    text-align: center;
    border-radius: 1px;
    background-color: rgb(55, 55, 61);
    outline-style: solid;
    outline-color: rgb(209, 227, 255);
}

.heading {
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    background-color: rgba(85, 57, 204, 0.05);
}

.heading:hover {
    color: white;
    background-color: rgba(85, 57, 204);
}

/* Meant to apply margins */
.content {
    margin-right: 428px;
    margin-left: 428px;
    padding-bottom: 75px;
}

.indent {
    text-indent: 50px;
}

/* BSOD's Hub */
.hub-text {
    padding: 20px;
    font-size: 50px;
    animation: animated_text 10s ease-in-out infinite;
    background: linear-gradient(to right, rgb(27, 59, 129), rgb(85, 57, 204), rgb(65, 89, 219));
    font-family: "Raleway", sans-serif;
    background-clip: unset;
	background-size: 300%;

    -moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

/* No styles on certain hyperlinks */
.no-href-styles {
    color: inherit;
    text-decoration: none;
}

.no-href-styles a:link{
    text-decoration: none;
}

.no-href-styles a:hover{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}

.no-href-styles a:active{
    text-decoration: none;
}

.no-href-styles a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* The main nav-bar */
.nav-bar {
    display:-webkit-flex;
    align-items: center;
    margin-left: 185px;
    margin-right: 185px;
    margin-bottom: 90px;
    justify-content: space-evenly;
}

/* Unordered list */
.nav-links a {
    color: rgb(47, 18, 175);
}

/* Link in nav-links */
.nav-menu {
    gap: 5em;
    padding: 16px 18px;
    display: flex;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    list-style-type: none;
    background-color: #caaaff62;
}

.nav-menu a {
    padding: 4px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.nav-menu a:hover {
    color: white;
    background: linear-gradient(45deg, #5865f2, #ff69b4);
}

.active-page {
    color: white;
    border-radius: 5px;
    background: linear-gradient(45deg, rgb(195, 219, 250), rgb(255, 192, 203));
}

/* Da - Box */
.da-box {
    padding: 50px;
    outline: auto;
    margin-top: 200px;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 5px;
    outline-width: 7px;
    outline-style: inset;
    outline-color: rgb(85, 57, 204);
}

/* Table of contents */
.on-this-page {
    width: 260px;
    position: fixed;
    text-align: center;
    padding-top: 1px;
    margin-right: 427px;
    outline-style: solid;
    outline-color: rgba(255, 255, 255, 0.295);
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: #9cd2ff4f;
}

.on-this-page li {
    padding: 12px 14px;
    display: block;
    text-align: left;
    text-decoration: none;
}

.on-this-page a::before {
    content: "🔗";
}

.on-this-page a {
    color:rgba(0, 0, 0);
    transition: 0.2s ease-in-out;
    padding-right: 4px;
}

.on-this-page a:hover {
    border-radius: 5px;
    background-color: white;
}

/* Side nav bar */
.side-nav {
    float: right;
    width: 250px;
    position: static;
    text-align: center;
    border-radius: 5px;
    outline-style: solid;
    outline-color: rgba(255, 255, 255, 0.295);
    justify-content: space-evenly;
    background-color: #f2c5ff80;
}

.side-nav li {
    padding: 12px 14px;
    text-align: left;
    list-style-type: none;
}

.side-nav a::before {
    content: "🔗";
}

.side-nav a {
    padding-right: 6px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.side-nav a:hover {
    background-color: white;
}

/* Pagination */
.pagination {
    margin-top: 30px;
    align-items: center;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    background-color: rgba(255, 125, 125, 0.329);
}

.next-page, .previous-page {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: #b5c0f1;
    transition: 0.3s ease-in-out;
}

.next-page:hover, .previous-page:hover {
    color: white;
    background-color: #748bf1;
}

/* The area where main content goes */
.the-white-para {
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    outline-style: solid;
    outline-color: rgba(162, 176, 255, 0.171);
    border-radius: 5px;
}

.the-white-para a:hover {
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(85, 57, 204);
}

.the-white-para span {
    color:rgb(85, 57, 204);
    font-weight: bolder;
}

.steps {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(84, 57, 204, 0.247);
}

.section {
    padding: 10px;
    border-radius: 5px;
    outline-style: solid;
    outline-color: #dfc6ff;
    background-color: rgba(255, 255, 255, 0.2);
}

.section a:hover {
    color: white;
    border-radius: 5px;
    background-color: rgb(85, 57, 204);
}

.the-list li {
    list-style-type: lower-greek;
}

.the-list a:link {
    color: rgb(25, 59, 255);
}

.the-list a:visited {
    color: rgb(25, 59, 255);
}

.the-list a:hover {
    color: white;
    border-radius: 5px;
    background-color: rgb(85, 57, 204);
}

/* Info */
.info {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(177, 177, 255);
}

.info img {
    width: 25px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.info p {
    margin-left: 5px;
    margin-right: 5px;
}

/* Commands Stuff */
.command {
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    outline-style: solid;
    outline-color: rgba(0, 0, 0, 0.479);
    background-color: rgba(255, 255, 255, 0.404);
}

.command-signature {
    padding: 10px;
    border-radius: 5px;
    background-color: #6f5c7e;
    display: flex;
}

.sub-command {
    margin: 20px;
    padding: 5px;
    outline-style: solid;
    border-radius: 5px;
    outline-color: rgba(0, 0, 0, 0.267);
}

.name::before {
    color: rgb(215, 219, 255);
    content: "Syntax:";
    margin-right: 10px;
}

.name {
    margin-right: 10px;
    color: white;
}

.required-arg {
    color: rgb(243, 245, 153);
    margin-right: 10px;
}

.required-arg::before {
    content: "\003C"
}

.required-arg::after {
    content: "\003E";
}

.optional-arg {
    color: rgb(159, 255, 159);
    margin-right: 10px;
}

.optional-arg::before {
    content: "\005B";
}

.optional-arg::after {
    content: "\005D";
}

.command-description {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #d4baff79;
}

.alias::before {
    content: "Aliases:";
    padding: 3px;
    border-radius: 5px;
    background-color: white;
    margin-right: 8px;
}

.description::before {
    content: "Description:";
    padding: 3px;
    margin-right: 8px;
    border-radius: 5px;
    background-color: white;
}

.flags::before {
    content: "Flags Present:";
    padding: 3px;
    margin-right: 8px;
    border-radius: 5px;
    background-color: rgb(250, 184, 184);
}

.flags code {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(120, 146, 148, 0.651);
}

.cooldown::before{
    content: "Cooldown:";
    padding: 3px;
    background: #9dc4ff;
    margin-right: 8px;
    border-radius: 5px;
}

.concurrency::before {
    content: "Concurrency:";
    padding: 3px;
    background-color: #addaff;
    margin-right: 8px;
    border-radius: 5px;
}

.example::before {
    content: "Example:";
    padding: 3px;
    background: #6cbdff;
    margin-right: 5px;
    border-radius: 5px;
}

/* Projects */
.project {
    padding: 25px;
    border-radius: 5px;
    background-color: rgb(191, 187, 255);
}

.project-wrapper {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(154, 156, 255, 0.637);
}

.project-heading {
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(179, 191, 245, 0.363);
}

.project-button {
    border: none;
    padding: 5px;
    font-family: "JetBrains Mono", monospace;
    font-size: large;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.699);
}

.project-button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: rgba(221, 221, 221, 0.774);
}

/* Contact Page */
.find-me {
    padding: 20px;
    position: absolute;
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 5px;
    background-color: rgb(180, 179, 245);
}

.socials-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #95acf8ce;
}

.socials {
    float: left;
    margin: 30px;
    display: inline-flex;
}

.socials i {
    font-size: 5rem;
    transition: transform 0.2s ease-in-out;
}

.socials:hover i {
    transform: scale(1.3);
}

.fa-discord:hover {
    background: linear-gradient(to bottom right, rgba(85,57,204,1) 0%, rgb(81, 12, 138) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-github:hover {
    background: linear-gradient(to right, #54a47e, #4078c0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-instagram:hover {
    background: linear-gradient(to top right, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-spotify:hover {
    background-image: linear-gradient(to bottom right, #1A8FFF, #FF56FF);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Accordian */
.accordion {
    width: 800px;
    color: black;
    margin-left: 75px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 209, 212, 0.678);
}

.accordion .container {
    position: relative;
    margin: 10px 10px;
}

.accordion .accordian-label {
    color: black;
    cursor: pointer;
    padding: 10px 0;
    position: relative;
    font-size: 18px;
}

.accordion .accordian-label::before {
    top: 50%;
    right: -5px;
    color: black;
    content: "+";
    position: absolute;
    font-size: 20px;
    transform: translateY(-50%);
}

.accordion .accordian-content {
    width: 780px;
    height: 0;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    text-align: justify;
    transition: 0.5s;
}

.accordion hr {
    width: 100%;
    border: 1px solid grey;
    margin-left: 0;
}

.accordion .container.active .accordian-content {
    height: 110px;
}

.accordion .container.active .label::before {
    content: "-";
    font-size: 24px;
}

.accordian-content a:hover {
    color: white;
    border-radius: 5px;
    background-color: rgb(85, 57, 204);
}

/* Tech Stack */
.tech-stack {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.tech-stack span {
    padding: 3px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    color: white;
    background-color: #1764A3;
}

.tech-stack span:hover {
    color: black;
    background-color: transparent;
}

/* Scroll back to top button */
#my-button {
    right: 30px;
    color: white;
    bottom: 55px;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 99;
    padding: 15px;
    display: none;
    position: fixed;
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
    font-family: "JetBrains Mono";
    border-radius: 5px;
    background-color: rgba(85, 57, 204, 0.7);
}

#my-button:hover {
    background-color: #555;
}

/* Intro */
.intro-one {
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(210, 171, 255, 0.8);
}

.intro-one-box {
    padding: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(197, 153, 255, 0.6);
}

.intro-one-text {
    padding: 25px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    font-family: "Raleway", sans-serif;
    border-radius: 10px;
    background-color: #a38bf893;
}

.intro-one-text p {
    font-size: 3em;
    background: linear-gradient(to right, #c118df, #2f4eff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-two {
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(171, 214, 255, 0.8);
}

.intro-two-box {
    padding: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(155, 197, 255, 0.6);
}

.intro-two-text {
    padding: 25px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    font-family: "Raleway", sans-serif;
    border-radius: 10px;
    background-color: #8db9ff93;
}

.intro-two-text p {
    font-size: 3em;
    background: linear-gradient(to right,#0072ff, #00c6ff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Misc */
.divider {
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    display: block;
    border-top: 1px solid black;
}

.pending {
    color: black;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    padding: 50px;
    margin-top: 260px;
    font-size: larger;
    box-sizing: content-box;
    margin-left: 140px;
    border-radius: 5px;
    background:
        linear-gradient(-45deg, rgb(170, 179, 253) 40%, rgb(255, 192, 203) 0 60%, rgb(170, 179, 253) 0) right/300% 100% no-repeat,
        linear-gradient(-45deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 0 60%, rgba(255, 255, 255, 0) 0) right/300% 100% no-repeat;

    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.8s;
}

.pending:hover {
    background-position: left;
}

.empty-space {
    margin-bottom: 50px
}
