.cb {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 44, 44);
}

.gta { 
    color: black;
    background-color: rgb(247, 247, 167);
}

.mc {
    color: black;
    background-color: rgb(0, 173, 0);
}

.fc {
    color: white;
    background-color: #6666fd;
}