.diff-knowledge {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: rgb(116, 206, 80);
}

.diff-practical {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: rgb(197, 65, 65);
}