.li-stack {
    display: flex;
    counter-increment: item;

    .li-lang {
        flex: 1;
    }

    .li-worked-with {
        padding: 0 50px;
    }
}

.li-stack::before {
    content: counter(item, number) ". ";
}
