.venture-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #373758;
    box-shadow: 0 0 10px rgba(76, 0, 130, 0.568);

    .v-title {
        font-size: 1.5em;
        color: #fff;
    }

    .v-description {
        color: #e4fffd;
        margin-bottom: 10px;
    }

    .v-language {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-weight: bolder;

        .v-progress-wrapper {
            width: 60%;
            background-color: #272727;
            height: 8px;

            .v-progress-bar {
                height: 100%;
                background-color: #3aff44;
            }
        }
    }

    .v-link {
        display: inline-block;
        margin-top: 10px;
        padding: 10px;
        background-color: #ffffff;
        color: #000000;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s ease;
    }

    .v-link:hover {
        color: white;
        background-color: #414141;
    }
}