.blog-wrapper {
    padding: 10px;
    background-color: rgb(49, 49, 49);
    border: 2px solid rgb(80, 80, 80);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .b-media-wrapper {
        overflow: hidden;
        position: relative;
        max-height: 250px;
    }

    .b-media {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    
    .b-tag {
        display: inline-block;
        background-color: rgb(135, 255, 99);
        color: black;
        transition: background-color 0.3s, color 0.3s;
        text-decoration: none;
    }

    .b-tag:hover {
        color: white;
        background-color: rgb(114, 98, 255);
    }

    @media only screen and (max-width: 576px) {
        .b-media-wrapper {
            max-height: 150px;
        }
    }
}
