.figure {
    width: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(21, 25, 49);

    .image {
        width: 100%;

        img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(2);
            }
        }
    }

    .caption {
        margin-top: 10px;
        font-size: 16px;
        text-align: center;
    }

    @media only screen and (max-width: 576px) {
        .figure {
            width: auto;
            padding: 1px;

            .image {
                width: auto;
                height: auto;
            }
        }
    }
}
