<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- primary meta tags -->
        <meta name="title" content="bsod's hub">
        <meta name="theme-color" content="#FFADAD">
        <meta name="description" content="yes, this is bluescreen's profile &#128511;">

        <!-- open graph / facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://bsod2528.me/">
        <meta property="og:title" content="bsod's hub">
        <meta property="og:description" content="yes, this is bluescreen's profile &#128511;">
        <meta property="og:image" content="https://bsod2528.me/media/embed.png">

        <!-- twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="https://bsod2528.me/">
        <meta property="twitter:url" content="https://bsod2528.me/">
        <meta property="twitter:title" content="bsod's hub">
        <meta property="twitter:description" content="yes, this is bluescreen's profile &#128511;">
        <meta property="twitter:image" content="https://bsod2528.me/media/embed.png">

        <link rel="icon" type="image/gif" href="/assets/images/bsod.gif">
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">

        <!-- analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-7NRN6JFWRM"></script>
        <script defer src="https://analytics.lirena.xyz/script.js" data-website-id="82531295-4779-41fa-b510-5add24dae107"></script>
        
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag("js", new Date());

            gtag("config", "G-7NRN6JFWRM");
        </script>
        
        <title>{{ page.title }}</title>
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <div class="container">
            <div class="sparkles">
                <img class="sparkles" src="/assets/images/sparkles.png">
            </div>
            <div class="child-container">
                <div class="sidenav">
                    {% if page.sidenav %}
                        {% include sidenav.html collection=page.collection %}
                    {% endif %}
                </div>
                <div class="content">
                    {% include navigation.html %}
                    {% if page.anchor %}
                        {% include anchor_headings.html html=content anchorBody="&#x1F517;" anchorClass="anchor" %}
                    {% else %}
                        {{ content }}
                    {% endif %}
                    <hr>
                    <div class="footer">
                        With <span class="heart">&#128156;</span> -- by bsod2528
                    </div>
                </div>
                <div class="toc">
                    {% if page.toc %}
                        {% include toc.html html=content class="table-of-contents" %}
                    {% endif %}
                </div>
            </div>
        </div>
        <script src="/assets/js/matrix.js"></script>
        <script src="/assets/js/scroll.js"></script>
        <script src="/assets/js/responsive.js"></script>
    </body>
</html>